.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.post_body {

  padding: 1em 1em;

}

.post_action {
  padding: 1em 1em;

}

.btn:hover {
  color: white;
  background-color: orangered;

}

p {
  font-size: 15px;
}
.btn-warning{
  background-color:black;
  color:white;
}
